services:
  - type: web
    name: ladipage-show-case
    runtime: static
    buildCommand: echo "No build needed"
    staticPublishPath: ./
    headers:
      - path: /*
        name: Cache-Control
        value: public, max-age=31536000
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
